/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Estilo para o formulário */
  form {
    width: 100%;
    max-width: 600px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    display: block;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  input:focus,
  textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  /* Estilo do botão */
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para a visualização da imagem */
  .product-image-preview {
    margin-top: 20px;
    text-align: center;
  }
  
  .product-image-preview img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  /* Estilo para a mensagem de sucesso */
.success-message {
    background-color: #24f708; /* Cor verde */
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
  }
  